/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Dancing+Script:wght@700&family=Spartan:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Spartan:wght@200;600&display=swap');


:root{
  --background-color: #080808;
  --text-color: #f7f7f7;
  --text-padding: 390px;
  /* text padding 448 px*/
  --grid-size: 930px;
  --text-size: 65px;
  filter: grayscale(1);
  scroll-behavior: smooth;
}

body {
  margin:0px;
  background-color: var(--background-color);
  z-index: 10;
  height:100%;
  width: 100%;
}

h1 {
  margin: 0;
  color: var(--text-color);
  text-align: center;
}

p {
  margin: 0;
  color: var(--text-color);
  text-align: center;
}

header {
  margin: 0px;
}


.bg-overlay {
  z-index: 8;
}

.welcome {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 70px;
  font-weight: 600;
  font-family: 'Spartan', sans-serif;
  margin-right: 0;
  margin-left: 0;
}

.title {
  font-size: 20px;
  font-family: 'Chakra Petch', sans-serif;
  margin-bottom: 20px;
}

.nav-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--grid-size);
  font-family: 'Spartan', sans-serif;
  font-weight: 200;
  font-size: var(--text-size);
}


.nav-selection-DAC {
  cursor: pointer;
  background: url('media/dac_background.jpg') no-repeat;
  background-size: cover;
  opacity: 1.0;
  grid-column: 1 / 2;
  grid-row: 1;
  transition: ease-out 150ms
}

.nav-selection-DAC:hover{
  opacity: 0.6;
}

.nav-selection-DAC:active{
  opacity: 0.3;
}


.nav-selection-ADC {
  cursor: pointer;
  background: url('media/adc_background.jpg') center;
  background-size: cover;
  opacity: 1.0;
  grid-column: 2 / 2;
  grid-row: 1 ;
  transition: ease-out 150ms
}

.nav-selection-ADC:hover{
  opacity: 0.6;
}

.nav-selection-ADC:active{
  opacity: 0.3;
}


.nav-selection-DAC-text {
  color: var(--text-color);
  opacity: 1.0;
  padding-top: var(--text-padding);

}

.nav-selection-ADC-text {
  color: var(--text-color);
  opacity: 1.0;
  padding-top: var(--text-padding);
}

.sectiontitle{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
}

.sectiontext{
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Spartan', sans-serif;
  font-weight: 200;
  line-height: 40px;

}


footer {
  margin-top: 20px;
  padding-bottom: 20px;
}



/* Responsive*/
@media screen and (max-width: 1949px) {

}

@media screen and (max-height: 1000px) {
  :root {
    --text-padding: 340px;
    --grid-size: 850px;
  }
}

@media screen and (max-height: 900px) {
  :root {
    --text-padding: 280px;
    --grid-size: 750px;
  }
}

@media screen and (max-height: 800px) {
  :root {
    --text-padding: 250px;
    --grid-size: 650px;
  }
}

@media screen and (max-height: 700px) {
  :root {
    --text-padding: 210px;
    --grid-size: 550px;
  }
}

@media screen and (max-height: 600px) {
  :root {
    --text-padding: 160px;
    --grid-size: 450px;
  }
}

@media screen and (max-height: 500px) {
  :root {
    --text-padding: 130px;
    --grid-size: 350px;
  }
}